* {
    font-family: Helvetica;
}

h1 {
    color:green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #cceeff;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
    background-color: #cceeff;
  }

tr:hover {
    background-color: #dddddd;
}