* {
    font-family: Helvetica;
}

nav {
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

nav a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

nav a:hover {
    color: grey;
}

.submenu a, form .button {
    background:grey;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.submenu a:hover, form .button:hover {
    background: black;
}

a {
    text-decoration: none;
    color: blue;
}

ul {
    list-style-type: none;
}

.flex-container {
    display: flex;
  }

.flex-container > div {
    margin: 10px;
    border: solid grey 1px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  }

.notes_sep hr {
    border: 1px solid lightgrey;
}

.note_content{
    font-size: 14px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

th {
    border: 1px solid lightgrey;
    text-align: left;
    padding: 8px;
    background-color: black;
    color:white;
  }

td {
    border: 1px solid lightgrey;
    text-align: left;
    padding: 6px;
    font-size: 14px;
  }

tr:nth-child(even) {
    background-color: lightgrey;
  }

/*
tr:hover {
    background-color: orange;
}
*/

form {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: center;
    border: 1px solid lightgrey;
    padding: 20px;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

form label {
    display: none;
} 

form textarea {
    height: 350px;
}

.vuln_list {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.errorlist {
    color: red;
    margin-bottom: -10px;
}

.hello:hover {
    background: grey;
}

.snippet {
    color: grey;
    font-style: italic;
}
