{% extends 'tms/base.html' %}

{% block content %}

        <h1>Checklist</h1>

        <p>
            <span class="submenu"><a href="#scan">Scan</a></span>
            <span class="submenu"><a href="#vulnservices">Common vulnerable services</a></span>
            <span class="submenu"><a href="#enumeration">Enumeration</a></span>
            <span class="submenu"><a href="#commonvuln">Common web vulnerabilities</a></span>
            <span class="submenu"><a href="#adenumeration">AD Enumeration</a></span>
            <span class="submenu"><a href="#newservice">New service found</a></span>
            <span class="submenu"><a href="#bruteforce">Brute force</a></span>
            <span class="submenu"><a href="#privesclinux">Privesc Linux</a></span>
            <span class="submenu"><a href="#privescwindows">Privesc Windows</a></span>
        </p>
        <hr><br>
<!-- Scan -->
        <h2 style="text-align: center;" id="scan">Scan</h2>
        <table style="width: 60%;">
            <tr>
                <th>Steps</th>
                <th>Snippets</th>
            </tr>

            <tr style="background-color: white;">
                <td><strong>ICPM scan of the network</strong> - Fast IP detection on the network</td>
                <td><span class="snippet">nmap -sP 10.10.10.0/24</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>NetBios scan of the network</strong> - Very fast IP detection on the network, convenient for large Windows env</td>
                <td><span class="snippet">nbtscan -sP 10.10.0.0/16</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>TCP scan of the network</strong> - Detailed IP detection on the network</td>
                <td><span class="snippet">nmap 10.10.10.0/24</span></td>     
            </tr>
            <tr style="background-color: lightgrey;">
                <td></td>
                <td></td>
            </tr>
            <tr style="background-color: white;">
                <td><strong>TCP scan</strong> - Fast scan of a machine (common ports)</td>
                <td><span class="snippet">nmap 10.10.10.2</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>TCP scan</strong> - all ports</td>
                <td><span class="snippet">nmap 10.10.10.2 -p-</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>TCP scan</strong> - services details</td>
                <td><span class="snippet">nmap 10.10.10.2 -sV</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>TCP scan</strong> - detailed informations</td>
                <td><span class="snippet">nmap 10.10.10.2 -A</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>UDP scan</strong> - UDP protocols</td>
                <td><span class="snippet">sudo nmap 10.10.10.2 -sU</span></td>     
            </tr>
        </table>

<!-- Common vulnerable services -->
        <h2 style="text-align: center;" id="vulnservices">Common vulnerable services</h2>
        <table style="width: 60%;">
            <tr>
                <th>Service</th>
                <th>Port</th>
                <th>Snippets</th>
            </tr>
            <tr style="background-color: white;">
                <td><strong>Samba</strong></td>
                <td>139, 445</td>
                <td>
                    <span class="snippet">enum4linux -a target_ip</span><br> 
                    <span class="snippet">nmap -p 445 --script=smb-enum-shares.nse,smb-enum-users.nse target_ip</span><br> 
                    <span class="snippet">smbclient -L target_ip</span><br>
                    Connect to a share : <span class="snippet">smbclient//target_ip/share_name</span><br>
                    Writing rights on the share ? Use the 'put' command to inject a payload
                </td>     
            </tr>
        </table>
<!-- Enumeration -->
        <h2 style="text-align: center;" id="enumeration">Enumeration</h2>

        <table style="width: 60%;">
            <tr>
                <th>Steps</th>
                <th>Snippets</th>
            </tr>
            <tr style="background-color: white;">
                <td>Finding new <strong>subdomains</strong> ...</td>
                <td><span class="snippet">
                    wfuzz -w /Seclists/Discovery/DNS/namelist.txt -u "http://domain.com" -H "Host: FUZZ.domain.com" --hw 999
                </span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Can I learn something with the <strong>favicon</strong> ?</td>
                <td>
                    <span class="snippet">curl http://website.com/favicon.ico | md5sum</span><br>
                    <a href="https://wiki.owasp.org/index.php/OWASP_favicon_database" target="_blank">OWASP Favicon Database</a>
                </td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>Explore</strong> service features and user interactions</td>
                <td><span class="snippet"></span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>Inspect</strong> headers and cookies</td>
                <td><span class="snippet"></span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Review the <strong>source code</strong> (comments, new endpoints ...)</td>
                <td><span class="snippet"></span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>A <strong>robots.txt</strong> is available ?</td>
                <td><span class="snippet"></span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Listing new <strong>directories</strong> ?</td>
                <td><span class="snippet">dirsearch -u http://target_ip -x 404</span></td>     
            </tr>
        </table>
<!-- Common web vulnerabilities -->
    <h2 style="text-align: center;" id="commonvuln">Common web vulnerabilities</h2>
    
    <table style="width: 60%">
        <tr>
            <th>Vulnerability</th>
            <th>Snippets</th>
        </tr>
        <tr style="background-color: white;">
            <td>Amazon Hosting</td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td>App Logic Error</td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td>Broken Access Control</td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>CSRF</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>IDOR</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td>Insecure deserialization</td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>JWT</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>LFI</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td>Login page</td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>No SQLI</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Open Redirects</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Path Traversal</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Race Conditions</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>RCE</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Same Origin Policy</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Shell Upload</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Single Sign On</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>SQLI</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>SSRF</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Sudomain Takeover</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Template Injection</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Wordpress</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>XSS</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>XXE</strong></td>
            <td><span class="snippet"></span></td>     
        </tr>
    </table>
<!-- Active Directory enumeration-->
    <h2 style="text-align: center;" id="adenumeration">Active Directory Enumeration</h2>

    <table style="width: 60%">
        <tr>
            <th>Steps</th>
            <th>Snippets</th>
        </tr>

        <tr style="background-color: white;">
            <td>
                <strong>Listen trafic</strong> on internal network<br>
                ARP protocol gives possible IP targets<br>
                MDNS protocol gives host names as possible targets<br>
                fping discovers ip's on the internal network
            </td>
            <td>
                <span class="snippet">sudo wireshark</span><br>
                <span class="snippet">sudo tcpdump</span><br>
                <span class="snippet">fping -asgq 10.10.5.0/24</span><br>
            </td>     
        </tr>
        <tr style="background-color: white;">
            <td>
                <strong>Listen and poisoning</strong> (catching auth challenges) AD network<br>
                Then crack collected hashes with hashcat
            </td>
            <td>
                <span class="snippet">sudo responder -I the_network_interface_name</span><br>
                <span class="snippet">hashcat -m 5600 hash.txt /usr/share/wordlists/rockyou.txt</span>
            </td>     
        </tr>
        <tr style="background-color: white;">
            <td>
                <strong>Scan</strong> discovered hosts to find vulnerable services<br>
            </td>
            <td>
                <span class="snippet">nmap ip_target</span><br>
            </td>     
        </tr>

        <tr style="background-color: lightgrey;">
            <td></td>
            <td></td>     
        </tr>

        <tr style="background-color: white;">
            <td>Anonymous <strong>LDAP request</strong> on a domain controler</td>
            <td>
                <span class="snippet">ldapsearch -x -H ldap://ip_target -s base -LLL</span><br>
                <strong>RootDomainNamingContext</strong> gives the root domain name<br>
                <strong>dnsHostName</strong> gives the name of the domain controler
            </td>     
        </tr>
        <tr style="background-color: white;">
            <td>Check <strong>Kerberos</strong> service availability (always on a DC)</td>
            <td>
                <span class="snippet">nmap -88 ip_target -sV</span><br>
                <span class="snippet">nmap -88 10.10.10.0/24</span> (helps to identify the DC server ip)<br>
            </td>     
        </tr>

        <tr style="background-color: lightgrey;">
            <td></td>
            <td></td>     
        </tr>

        <tr style="background-color: white;">
            <td>Brute force an AD service with default user to <strong>obtain a list of users</strong></td>
            <td>
                <span class="snippet">nxc smb target_ip -u "guest" -p "" --rid-brute</span><br>
                <span class="snippet">/Tools/kerbrute/dist/kerbute_linux_amd64 userenum --dc ip_domain_controller -d domain.local userswordlist.txt</ip_target></span>
            </td>     
        </tr>
        <tr style="background-color: white;">
            <td>Get <strong>hashed creds</strong> (when no pre-auth required)</td>
            <td>
                <span class="snippet">/Tools/impacket/examples/GetNPUsers.py domain.local/ -usersfile wordlist.txt -format john -outputfile mon_fichier</span><br>
            </td>     
        </tr>
        </tr>
        <tr style="background-color: white;">
            <td>Get <strong>hashed creds</strong> (when rights of a known user are required)</td>
            <td>
                <span class="snippet">/Tools/impacket/examples/secretsdump.py -just-dc the_user:his_password@domain.local</span><br>
            </td>     
        </tr>
        <tr style="background-color: white;">
            <td><strong>Pass the hash</strong> (hash credentials required)</td>
            <td>
                <span class="snippet">evil-winrm -i target_ip -H target_hash --user target_user</span><br>
            </td>     
        </tr>
    </table>
<!-- New service found -->
        <h2 style="text-align: center;" id="newservice">New service found ?</h2>

        <table style="width: 60%;">
            <tr>
                <th>Steps</th>
                <th>Snippets</th>
            </tr>
            <tr style="background-color: white;">
                <td>What's the <strong>version</strong> ?</td>
                <td><span class="snippet"></span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>What are the <strong>default credentials<strong (if a login is needed) ?</td>
                <td><span class="snippet">creds search service_name</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Does the service appears in <strong>searchploit</strong> DB (or metasploit) ?</td>
                <td><span class="snippet"></span></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>Googling</strong> eventual exploits ?</td>
                <td><span class="snippet">service version exploit</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>
                    Read the <strong>docs</strong> :
                    <ul>
                        <li>Identify dependencies</li>
                        <li>Default creds</li>
                        <li>Security</li>
                        <li>Quick usage</li>
                        <li>Source code</li>
                    </ul>
                </td>
                <td><span class="snippet"></span></td>     
            </tr>
        </table>
<!-- Brute force -->
        <h2 style="text-align: center;" id="bruteforce">Brute force</h2>

        <table style="width: 60%">
            <tr>
                <th>Steps</th>
                <th>Snippets</th>
            </tr>
            <tr style="background-color: white;">
                <td>Last solution</td>
                <td></td>     
            </tr>
            <tr style="background-color: white;">
                <td>User as pass ?</td>
                <td></td>     
            </tr>
        </table>

<!-- Privesc Linux -->
        <h2 style="text-align: center;" id="privesclinux">Privesc (Linux)</h2>

        <table style="width: 60%;">
            <tr>
                <th>Steps</th>
                <th>Snippets</th>
            </tr>
            <tr style="background-color: white;">
                <td>Explore <strong>users folders</strong></td>
                <td></td>     
            </tr>
            <tr style="background-color: white;">
                <td><strong>Sudo</strong> rights ?</td>
                <td><span class="snippet">sudo -l</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Can't you find <strong>SUID</strong> ?</td>
                <td><span class="snippet">find / -perm -u=s 2>/dev/null</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Some <strong>planified tasks</strong> ?</td>
                <td>
                    <span class="snippet">crontab -l</span><br>
                    <span class="snippet">cat /etc/crontab</span>
                </td>     
            </tr>
            <tr style="background-color: white;">
                <td>Some <strong>capabilities</strong> ?</td>
                <td><span class="snippet">getcap / -r 2>/dev/null</span></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Explore <strong>configuration files</strong> (/var/www/)</td>
                <td></td>     
            </tr>
            <tr style="background-color: white;">
                <td>Some <strong>new services</strong> accessible with localhost ?</td>
                <td>
                    <span class="snippet">netstat -antp</span><br>
                    <span class="snippet">ssh -L 9999:127.0.0.1:9000 -i id_rsa user@ip_target</span><br>
                    <span class="snippet">ssh -L 9999:127.0.0.1:9000 user@ip_target</span>
                </td>     
            </tr>
            <tr style="background-color: white;">
                <td>
                    Any new ideas for escalating privileges ? See <strong><a href="https://github.com/peass-ng/PEASS-ng/releases/" target="_blank">linpeas.sh</a></strong>
                </td>
                <td></td>
            </tr>
        </table>
<!-- Privesc Windows -->
        <h2 style="text-align: center;" id="privescwindows">Privesc (Windows)</h2>

        <table style="width: 60%;">
            <tr>
                <th>Steps</th>
                <th>Snippets</th>
            </tr>
            <tr style="background-color: white;">
                <td>Steps for Windows privesc</td>
                <td></td>     
            </tr>
        </table>

{% endblock %}