{% extends 'tms/base.html' %}

{% block content %}

        <h1>Targets</h1>

        <p>
            <span class="submenu"><a href="{% url 'targets-add' %}">Add a new target</a></span>
        </p>
        <hr>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <br>

        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Description</th>
                <th>Last update</th>
            </tr>
            {% for target in targets %}
                <tr>
                    <td><a href="{% url 'target-detail' target.id %}">{{target.name}}</a></td>
                    <td>{{ target.type }}</td>
                    <td>{{ target.status }}</td>
                    <td>{{target.description|truncatechars:180}}</td> 
                    <td>{{ target.last_update }}</td>    
                </tr>
            {% endfor %}
        </table>
        
{% endblock %}