{% extends 'tms/base.html' %}

{% block content %}

        <h1>Targets</h1>

        <p>
            <span class="submenu"><a href="{% url 'targets-add' %}">Add a new target</a></span>
        </p>
        <hr><br>

        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% for target in targets %}
                <tr>
                    <td><a href="{% url 'target-detail' target.id %}">{{target.name}}</a></td>
                    <td>{{target.description|truncatechars:200}}</td>     
                </tr>
            {% endfor %}
        </table>
        
{% endblock %}