{% extends 'tms/base.html' %}

{% block content %}

        <h1>Vulnerabilities</h1>

        <p>
            <span class="submenu"><a href="{% url 'vulnerabilities-add' %}">Add a new vulnerability</a></span>
        </p>
        <hr>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <br>

            {% for vulnerability in vulnerabilities %}
                <div class="vuln_list">
                    <strong style="font-size: 17px;">{{ vulnerability.name }}</strong><br>
                    <a href="{{ vulnerability.url }}" target="_blank">{{ vulnerability.url }}</a><br>
                    {% if vulnerability.cve %}
                        <p style="color: grey; font-size: 15px;">{{ vulnerability.cve }}</p>
                    {% endif %}
                    <p style="font-size: 15px;">{{ vulnerability.description }}</p>
                    <span class="notes_sep"><hr></span><br>
                </div>

            {% endfor %}
        
{% endblock %}