{% extends 'tms/base.html' %}

{% block content %}

        <h1>Vulnerabilities</h1>

        <p><span class="submenu"><a href="{% url 'vulnerabilities-add' %}">Add a new vulnerability</a></span></p>
        <hr>
        <br>

        <div class="flex-container">
            <div style="flex-basis: 10%;">
                <form role="search" method="POST" class="searchbar" style="width: 80%;">
                    {% csrf_token %}
                    <input type="search" placeholder="Enter any keyword" name="search_query" class="bar">
                    <button type="submit" class="filter_button">Filter or reset</button>
                </form>
                
                {% if messages %}
                    <ul class="messages" style="font-size: 12px; padding-left: 0px;">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

            </div>
            <div style="flex-basis: 90%;">
                {% for vulnerability in vulnerabilities %}
                <div class="vuln_list">
                    <strong style="font-size: 17px;">{{ vulnerability.name }}</strong><br>
                    <a href="{{ vulnerability.url }}" target="_blank">{{ vulnerability.url }}</a><br>
                    {% if vulnerability.cve %}
                        <p style="color: grey; font-size: 15px;">{{ vulnerability.cve }}</p>
                    {% endif %}
                    <p style="font-size: 15px;">{{ vulnerability.description }}</p>
                    <span class="notes_sep"><hr></span><br>
                </div>
                {% endfor %}
            </div>
        </div>
        
{% endblock %}